td {
  align-self: center;
  border: 5px solid black;
  font-size: 50px;
  width: 60px;
  height: 60px;
  text-align: center;
  background-color: black;
}
body {
  background-color: black;
}
table {
  margin: 100px auto;
  background-color: aquamarine;
}
.X {
  color: rgb(255, 0, 255);
  text-shadow: 3px 3px rgba(212, 0, 255, 0.35);
}
.O {
  color: rgb(0, 213, 255);
  text-shadow: 3px 3px rgba(0, 204, 255, 0.35);
}
#result {
  color: aquamarine;
  font-size: 40px;
  margin-top: 100px;
  text-align: center;
}
